
MAILER_HOST=smtps.aruba.it
MAILER_PORT=465
MAILER_SECURE=true
MAILER_LOGGER=true
MAILER_DISABLED=false
MAILER_USER=email@address.com
MAILER_PASS=email_password
MAILER_TLS_VERSION=TLSv1
MAILER_CIPHERS='HIGH:MEDIUM:!aNULL:!eNULL:@STRENGTH:!DH:!kEDH'
MAILER_FROM='Name Sender <email@address.com>'
